:root {
  --primaryColor1: #01579b;
  --primaryColor2: #ffcb02;
  --mainWhite: #fff;
  --mainGrey: rgba(0, 0, 0, 0.5);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1rem;
  --mainBgGrey: #f7f7f7;
  --mainFont: 'Lato', sans-serif;
}

.overview-main {
  position: absolute;
  top: 0;
  width: 75%;
  height: 100vh;
  margin: auto 19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.humburger_menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 150px;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primaryColor1);
  border-radius: 100px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
  visibility: hidden;
}

.humburger_menu i {
  color: var(--mainWhite);
}

.humburger_menu:hover {
  cursor: pointer;
}

.chart-main {
  width: 100%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart-main h2 {
  font-weight: 400;
  font-family: var(--mainFont);
}

.chart-container {
  width: 85%;
  padding: 20px;
  background-color: var(--mainWhite);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
}

.chart-container h3 {
  color: var(--mainGrey);
  font-weight: 500;
  font-family: var(--mainFont);
}

.chart-main-row {
  width: 95%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.chart-main-row h2 {
  font-weight: 200;
  color: var(--mainGrey);
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 1rem;
  margin-left: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  background-color: var(--mainWhite);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
  padding: 10px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.card h2 {
  font-weight: 400;
  margin-top: 0.4rem;
  color: var(--primaryColor1);
}

.card h3 {
  font-weight: 400;
  color: var(--mainGrey);
}

.sidebar-main {
  background-color: var(--mainWhite);
  height: 100vh;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-transform: all 0.3s linear;
          transform: all 0.3s linear;
  top: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
}

.sidebar-main h1 {
  font-weight: 400;
  color: var(--primaryColor1);
  margin-top: 2rem;
  font-family: var(--mainFont);
}

.sidebar-main h2 {
  color: var(--mainGrey);
  margin-top: 20px;
  font-weight: 500;
  font-family: var(--mainFont);
}

.sidebar-main h3 {
  color: var(--mainGrey);
  font-weight: 300;
  font-family: var(--mainFont);
}

.sidebar-main button {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100px;
  height: 40px;
  border: 0px;
  color: var(--mainWhite);
  background-color: #6055a5;
  font-size: 15px;
}

.sidebar-main button:hover {
  background-color: #2bbbad;
  cursor: pointer;
}

.sidebar-main-slide {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .overview-main {
    margin: auto 3rem;
  }
  .chart-main-row h2 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
  }
  .chart-container {
    width: 100%;
  }
  .row {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .humburger_menu {
    visibility: visible;
  }
  .sidebar-main-slide {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 50vw;
  }
  .sidebar-main-slide h1 {
    font-size: 20px;
    margin-top: 1rem;
  }
  .sidebar-main-slide h2 {
    font-size: 18px;
    margin-top: 1rem;
  }
  .sidebar-main-slide h3 {
    font-size: 15px;
  }
  .sidebar-main-slide button {
    position: relative;
    top: 10px;
    width: 80px;
    height: 30px;
    border: 0px;
    color: var(--mainWhite);
    background-color: var(--primaryColor1);
    font-size: 15px;
  }
  .sidebar-main-slide button:hover {
    background-color: var(--mainGrey);
    cursor: pointer;
  }
}
/*# sourceMappingURL=Overview.css.map */