:root {
  --primaryColor1: #17448a;
  --primaryColor2: #ffcb02;
  --mainWhite: #fff;
  --mainGrey: rgba(0, 0, 0, 0.5);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1rem;
  --mainBgGrey: #f7f7f7;
  --mainFont: 'Lato', sans-serif;
}

.case-details-main {
  position: absolute;
  top: 0;
  width: 75%;
  margin: 1rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 30px 10px 30px;
  background-color: var(--mainWhite);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
}

.case-details-main h2 {
  font-weight: bold;
  color: var(--mainGrey);
  font-family: var(--mainFont);
}

.case-details-main:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
}

.humburger_menu {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primaryColor1);
  border-radius: 100px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.095);
  visibility: hidden;
}

.humburger_menu i {
  color: var(--mainWhite);
}

.humburger_menu:hover {
  cursor: pointer;
}

.case-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.case-icons i {
  color: var(--mainGrey);
  font-size: 30px;
}

.case-icons i:hover {
  cursor: pointer;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.case-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.case-main {
  width: 210mm;
  min-Height: 297mm;
  margin-Left: auto;
  margin-Right: auto;
}

.case-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.case-details-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin-bottom: 2rem;
}

.label {
  width: 30%;
}

.label h3 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.label-data {
  width: 15%;
}

.label-data h3 {
  color: var(--primaryColor1);
  font-weight: 400;
}

.detail {
  width: 70%;
}

.detail h4 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.data h4 {
  text-align: center;
}

.detail-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.095);
}

.case-date h4 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .case-details-main {
    margin: auto;
    width: 100%;
  }
  .case-details-main h2 {
    font-weight: bold;
    color: var(--mainGrey);
    font-family: var(--mainFont);
  }
  .case-main {
    width: 80mm;
    min-Height: 297mm;
    margin-Left: auto;
    margin-Right: auto;
  }
  .humburger_menu {
    visibility: visible;
  }
  .separator {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .label {
    margin-right: 2rem;
  }
  .label h3 {
    font-size: 15px;
  }
  .label-data h3 {
    font-size: 15px;
  }
  .detail {
    width: 70%;
  }
  .detail h4 {
    font-size: 12px;
  }
  .detail-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .case-header h2 {
    font-size: 20px;
  }
  .case-date h4 {
    font-size: 10px;
  }
  .case-icons {
    width: 35%;
  }
  .case-icons i {
    font-size: 20px;
  }
  .gallery img {
    width: 100px;
    height: 100px;
  }
}
/*# sourceMappingURL=CaseDetails.css.map */