:root {
	--primaryColor1: #17448a;
	--primaryColor2: #ffcb02;
	--mainWhite: #fff;
	--mainGrey: rgba(0, 0, 0, 0.5);
	--mainTransition: all 0.3s linear;
	--mainSpacing: 0.1rem;
	--mainBgGrey: #f7f7f7;
	--mainFont: 'Lato', sans-serif;
}

.cases-main {
	position: absolute;
	top: 0;
	width: 75%;
	height: 100vh;
	margin: auto 19rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.humburger_menu {
	position: sticky;
	top: 5px;
	height: 50px;
	width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primaryColor1);
	border-radius: 100px;
	transition: all 0.3s linear;
	box-sizing: border-box;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .095);
	visibility: hidden;

	i {
		color: var(--mainWhite);
	}

	&:hover {
		cursor: pointer;
	}
}

.search-container {
	margin: 40px auto;
	width: 60%;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 1rem;
	border-radius: 10px;
	background-color: var(--mainWhite);
	box-sizing: border-box;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .095);
	margin-bottom: 2rem;
	i {
		color: var(--mainGrey);
		font-size: 30px;
		margin-right: 1rem;
	}

	input {
		width: 100%;
		height: 50px;
		border: none;
		font-size: 20px;
	}
}

.table-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 80%;
	height: 60vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	background-color: var(--mainWhite);
	border-radius: 5px;

	table {
		width: 100%;
	}

	th {
		display: flex;
		justify-content: space-around;
		padding: 5px;
	}

	tr {
		display: flex;
		justify-content: space-around;
		padding: 5px;
		scroll-snap-align: center;
		&:hover {
			cursor: pointer;
		}
	}

	td {
		width: 30%;
	}
}

.table-header-row {
	height: 30px;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	td {
		font-weight: 400;
		color: var(--mainGrey);
	}
}

.table-detail-row {
	height: 30px;
	align-items: center;
	margin-bottom: 0.2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	td {
		font-weight: 5S00;
	}
}

@media screen and (max-width: 768px) {
	.cases-main {
		margin: auto 3rem;
	}
	.humburger_menu {
		visibility: visible;
	}
	.search-container {
		width: 100%;
		height: 50px;

		input {
			height: 40px;
			font-size: 15px;
		}
	}
	.table-container {
		width: 100%;
	}
	.table-header-row {
		td {
			font-size: 8px;
		}
	}
	.table-detail-row {
		td {
			font-size: 8px;
		}
	}
}
