:root {
	--primaryColor1: #003399;
	--primaryColor2: #ffcb02;
	--mainWhite: #fff;
	--mainGrey: rgba(0, 0, 0, 0.5);
	--mainTransition: all 0.3s linear;
	--mainSpacing: 0.1rem;
	--mainBgGrey: #f7f7f7;
	--mainFont: 'Lato', sans-serif;
}

.cases-main {
	position: absolute;
	top: 0;
	width: 75%;
	height: 100vh;
	margin: auto 19rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-container {
	margin: 40px auto;
	width: 60%;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 1rem;
	border-radius: 10px;
	background-color: var(--mainWhite);
	box-sizing: border-box;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .095);
	margin-bottom: 2rem;
	i {
		color: var(--mainGrey);
		font-size: 30px;
		margin-right: 1rem;
	}

	input {
		width: 100%;
		height: 50px;
		border: none;
		font-size: 20px;
	}
}

.table-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 60%;
	height: 70vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;

	table {
		width: 100%;
	}

	tr {
		display: flex;
		justify-content: space-around;
		scroll-snap-align: center;
		&:hover {
			cursor: pointer;
		}
	}
}

.table-header-row {
	height: 50px;
	align-items: center;
	border-bottom: 1px solid var(--mainGrey);

	td {
		font-weight: 600;
		font-size: 20px;
	}
}

.table-detail-row {
	height: 50px;
	align-items: center;
	background-color: var(--mainWhite);
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 10px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	td {
		font-weight: 500;
		color: var(--mainGrey);
	}
}
